<a href="https://colab.research.google.com/github/zevy613/sales-predictions/blob/main/Project1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
#from pandas.core.frame import DataFrame
import pandas as pd

filename = "/content/drive/MyDrive/Colab Notebooks/CodingDojo/02Pandas/sales_predictions.csv"
df = pd.read_csv(filename)
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [14]:
df.duplicated().sum()
#no duplicate data has been found

0

In [69]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Item_Weight           8523 non-null   float64
 1   Item_Fat_Content      8523 non-null   object
 2   Item_Type             8523 non-null   object
 3   Item_MRP              8523 non-null   float64
 4   Outlet_Identifier     8523 non-null   object
 5   Outlet_Size           8523 non-null   object
 6   Outlet_Location_Type  8523 non-null   object
 7   Outlet_Type           8523 non-null   object
 8   Item_Outlet_Sales     8523 non-null   float64
dtypes: float64(3), object(6)
memory usage: 599.4+ KB

In [19]:
# remove Unnecessary columns
# The Item_Identifier and Outlet_Establishment_Year columns seem irrelevant. Lets drop them.
# The Item_Visibility column has too many unique values. let's drop that column as well.
df.drop(columns=['Item_Identifier', 'Outlet_Establishment_Year', 'Item_Visibility'], inplace=True)
df.head()

,Item_Weight,Item_Fat_Content,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,9.30,Low Fat,Dairy,249.8092,OUT049,Medium,Tier 1,Supermarket Type1,3735.1380
1,5.92,Regular,Soft Drinks,48.2692,OUT018,Medium,Tier 3,Supermarket Type2,443.4228
2,17.50,Low Fat,Meat,141.6180,OUT049,Medium,Tier 1,Supermarket Type1,2097.2700
3,19.20,Regular,Fruits and Vegetables,182.0950,OUT010,NaN,Tier 3,Grocery Store,732.3800
4,8.93,Low Fat,Household,53.8614,OUT013,High,Tier 3,Supermarket Type1,994.7052

In [70]:
# lets check the types of our columns
df.nunique()

Item_Weight              416
Item_Fat_Content           2
Item_Type                 16
Item_MRP                5938
Outlet_Identifier         10
Outlet_Size                3
Outlet_Location_Type       3
Outlet_Type                4
Item_Outlet_Sales       3493
dtype: int64

In [32]:
df['Item_Fat_Content'].value_counts()
# from here we clearly see mistakes in the spelling of low fat and regular fat. lets fix these.

Low Fat    5089
Regular    2889
LF          316
reg         117
low fat     112
Name: Item_Fat_Content, dtype: int64

In [35]:
df['Item_Fat_Content'].replace('LF','Low Fat', inplace=True)
df['Item_Fat_Content'].replace('low fat','Low Fat', inplace=True)
df['Item_Fat_Content'].replace('reg','Regular', inplace=True)
df['Item_Fat_Content'].value_counts()
# now we have just the two categories we want.

Low Fat    5517
Regular    3006
Name: Item_Fat_Content, dtype: int64

In [45]:
#lets now check for null values
df.isna().sum()

Item_Weight             1463
Item_Fat_Content           0
Item_Type                  0
Item_MRP                   0
Outlet_Identifier          0
Outlet_Size             2410
Outlet_Location_Type       0
Outlet_Type                0
Item_Outlet_Sales          0
dtype: int64

In [48]:
df['Item_Weight'].value_counts()
# Looking at the data I think that for the Item_Weight column we should impute that average weight 
# for the missing values.

12.150    86
17.600    82
13.650    77
11.800    76
15.100    68
          ..
7.275      2
7.685      1
9.420      1
6.520      1
5.400      1
Name: Item_Weight, Length: 415, dtype: int64

In [49]:
avg_weight = df['Item_Weight'].mean()
df['Item_Weight'].fillna(avg_weight, inplace=True)
df.isna().sum()

Item_Weight                0
Item_Fat_Content           0
Item_Type                  0
Item_MRP                   0
Outlet_Identifier          0
Outlet_Size             2410
Outlet_Location_Type       0
Outlet_Type                0
Item_Outlet_Sales          0
dtype: int64

In [47]:
df['Outlet_Size'].value_counts()
# In the case of the Outlet_Size column, I think we should fill the missing values with the most common 
# store size, in this case Medium

Medium    2793
Small     2388
High       932
Name: Outlet_Size, dtype: int64

In [53]:
df['Outlet_Size'].fillna('Medium', inplace=True)
df['Outlet_Size'].value_counts()

Medium    5203
Small     2388
High       932
Name: Outlet_Size, dtype: int64

In [71]:
#Now our data has NO Missing/NULL values
df.isna().sum()

Item_Weight             0
Item_Fat_Content        0
Item_Type               0
Item_MRP                0
Outlet_Identifier       0
Outlet_Size             0
Outlet_Location_Type    0
Outlet_Type             0
Item_Outlet_Sales       0
dtype: int64

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Item_Weight           8523 non-null   float64
 1   Item_Fat_Content      8523 non-null   object
 2   Item_Type             8523 non-null   object
 3   Item_MRP              8523 non-null   float64
 4   Outlet_Identifier     8523 non-null   object
 5   Outlet_Size           8523 non-null   object
 6   Outlet_Location_Type  8523 non-null   object
 7   Outlet_Type           8523 non-null   object
 8   Item_Outlet_Sales     8523 non-null   float64
dtypes: float64(3), object(6)
memory usage: 599.4+ KB

In [66]:
# lets caluculate the minimum maximum and average for our numeric columns 
display("The minimum weight is " + str(df['Item_Weight'].min().round(2)))
display("The maximum weight is " + str(df['Item_Weight'].max().round(2)))
display("The average weight is " + str(df['Item_Weight'].mean().round(2)))

'The minimum weight is 4.56'

'The maximum weight is 21.35'

'The average weight is 12.86'

In [67]:
display("The minimum Retail Price is " + str(df['Item_MRP'].min().round(2)))
display("The maximum Retail Price is " + str(df['Item_MRP'].max().round(2)))
display("The average Retail Price is " + str(df['Item_MRP'].mean().round(2)))

'The minimum Retail Price is 31.29'

'The maximum Retail Price is 266.89'

'The average Retail Price is 140.99'

In [68]:
display("The minimum Sales is " + str(df['Item_Outlet_Sales'].min().round(2)))
display("The maximum Sales is " + str(df['Item_Outlet_Sales'].max().round(2)))
display("The average Sales is " + str(df['Item_Outlet_Sales'].mean().round(2)))

'The minimum Sales is 33.29'

'The maximum Sales is 13086.96'

'The average Sales is 2181.29'

In [ ]:
# we are now ready for visualization and analysis!